.custom-checkbox {
    width: 1em;
    height: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0.15em solid #28a745;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.custom-checkbox:checked {
    background-color: #28a745;
}

.custom-checkbox:not(:checked) {
    background-color: #ccc;
    border-color: #ccc;
}

.custom-checkbox2 {
    width: 1em;
    height: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    position: relative;
}

.custom-checkbox3 {
    width: 1em;
    height: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    position: relative;
    pointer-events: none;
}

.custom-checkbox2:checked::before {
    content: '\2713'; /* Юнікод символу галочки */
    font-size: 1em;
    color: #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-btn {
    border-radius: 0 ;
}
.actionIcons .icon-btn + .icon-btn {
    margin-left: 5px;
}
.table-bordered, .table-bordered th, .table-bordered td {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.btn-link.text-white {
    transition: background-color 0.3s ease;
}

.bell:hover{
    animation: shake 5s;
    animation-iteration-count: infinite;
}

.btn-link.text-white:hover:before {
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

/*@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(-5deg); }
    50% { transform: translateX(5px) rotate(5deg); }
    75% { transform: translateX(-5px) rotate(-5deg); }
    100% { transform: translateX(0); }
}*/

.btn-link.text-white {
    position: relative;
    transition: background-color 0.3s ease;
}
.table-container .bi {
    color: black;
}


/*Меню знизу*/
.page-link {
    color: black;
    border: 1px solid black;
    padding: 0.5rem 0.75rem;
    border-radius: 0;
}

/*/*First arrow*/
.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*Last arrow*/
.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/*Меню знизу*/
.page-item {
    display: inline-block;
    margin-right: 5px;
}






/*Modal styles*/
.modal-header {
    border-bottom: 1px solid black;
}

.modal-body {
    border-bottom: 1px solid black;

}

.modal-content {
    border: 2px solid black;
}




/*Task styles*/
.card {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 0;
}
.task-item {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 10px);
    margin-left: 5px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.card-title {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: center;
}
.add-task-btn {
    text-align: center;
    background-color: transparent;
    border: none;
    color: black;
    padding: 0;
    margin-bottom: 10px;
}



.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}






/*Messages menu*/
.message-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message-text {
    position: relative;
    background-color: lightgray;
    border: 1px solid dimgray;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.sender-triangle {
    position: absolute;
    top: 30%;
    left: -8px;
    width: 0;
    height: 0;
}

.sender-triangle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 10px solid dimgray;
    transform: translateY(-50%);
}

.sender-triangle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px; /* Змінено для відповідності ширині трикутника */
    width: 0;
    height: 0;
    border-top: 6px solid transparent; /* Зменшено товщину для відповідності вигляду */
    border-bottom: 2px solid transparent; /* Зменшено товщину для відповідності вигляду */
    border-right: 8px solid lightgray; /* Сірий внутрішній трикутник */
    transform: translateY(-50%);
}

.dropdown-menu-center {
    left: 50% !important;
    transform: translateX(-50%) !important;
}





.notification-dot {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    z-index: 1;
    display: none;
}

.btn:hover .notification-dot {
    display: block;
}








.list-group-item.active {
    color: black;
    font-weight: bold;
    background-color: transparent;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
}
.btn:hover + .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

.not-italic {
    font-style: normal;
}
.square {
    width: 100px;
    height: 100px;
    border-color: black;
    background-color: transparent;
    border-radius: 0;
}


.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-icon {
    font-size: 2rem;
    color: dimgray;
}

@keyframes blink {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

.bell-blink::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 15px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    animation: blink 1s infinite;
}
.list-group-item {
    display: block;
    padding: 10px;
    background-color: transparent;
    border: none;
}